.anunciantes-container{
    max-width: 100%;
    padding-bottom: 15px;
    overflow-y: hidden;
    overflow-x: auto;
    box-shadow: -1px -1px 15px 8px rgba(255,255,255,0.75) inset;
    -webkit-box-shadow: -1px -1px 15px 8px rgba(255,255,255,0.75) inset;
    -moz-box-shadow: -1px -1px 15px 8px rgba(255,255,255,0.75) inset;
}

.anunciantes-wrapper{
    display: flex;
    flex-wrap: nowrap;
}

.anunciantes-wrapper .anunciante-container{
    width: 620px;
    height: 250px;
}