<header class="w-full">
    <nav class="flex flex-wrap justify-center lg:justify-between items-center border-gray-200 dark:bg-gray-900 container mx-auto py-5 px-2">
        <a routerLink="/" class="flex items-center logo mb-4 lg:mb-0">
            <img src="../../../../../assets/banner-logo.png" class="mr-2 h-14" alt="Flowbite Logo" />
            <div class="flex flex-col">
                <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">GuiaCalidad</span>
                <small class="text-white font-semibold self-end">Publicidad Responsable</small>
            </div>
        </a>
        <div class="relative ms-1 sm:ms-10" style="width: 500px;">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input type="search" (keydown.enter)="handleSearch()" [formControl]="searchCtrl" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-white focus:ring-blue-500 focus:border-blue-500 outline-none" placeholder="Búsqueda..." required>
            <button type="submit" (click)="handleSearch()" class="bg-guia text-white absolute end-2.5 bottom-2 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-md text-sm px-4 py-2">Buscar</button>
        </div>
    </nav>
</header>

<div class="container mx-auto flex flex-col px-2">
    <button (click)="toggleLinksBar()" data-collapse-toggle="navbar-default" type="button" class="my-3 ms-auto items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div [class.hidden]="!linksBarOpened()" class="w-full md:flex md:flex-row md:w-auto grow links-container bg-gray-100 md:bg-transparent rounded-lg">
        <a (click)="handleChangeRoute()" routerLink="/" id="quienes-somos" class="md:justify-center">
            :: Quienes Somos
        </a>
        <a (click)="handleChangeRoute()" routerLink="/atencion-al-cliente" class="md:justify-center">
            :: Atencion al Cliente
        </a>
        <a (click)="handleChangeRoute()" routerLink="/recomendados" class="md:justify-center">
            :: Recomendados
        </a>
        <a (click)="handleChangeRoute()" routerLink="/suscripciones" class="md:justify-center">
            :: Suscripciones
        </a>
        <a (click)="toggleSideMenu()" class="md:justify-center">
            :: Rubros
        </a>
    </div>
    
</div>


<div [class.hidden]="!sidebarOpened()" (click)="toggleSideMenu()" class="w-full h-screen fixed top-0 left-0 z-30" style="background-color: rgba(0, 0, 0, 0.45);">

</div>

<div
class="fixed top-0 right-0 bg-red z-40 w-72 h-screen  overflow-y-auto transition-transform bg-white"
[class.translate-x-full]="!sidebarOpened()"
>
<div class="flex flex-col w-full max-h-screen">
    <div class="flex justify-between items-between w-full p-4 bg-guia text-white">
        <p class="text-xl">Rubros:</p>
        <button (click)="toggleSideMenu()">
        
        <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
        >
            <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
            />
        </svg>
        </button>
    </div>
    <div class="rubros-container p-4 pt-0 overflow-y-scroll">
        <ul class="pl-3" style="list-style-type: ':: ';">
            @for (rubro of rubros(); track $index) {
                <li (click)="toggleSideMenu()" class="text-guia my-4 cursor-pointer hover:underline" [routerLink]="['rubro', rubro.ID,]">
                    {{rubro.NAME}}
                </li>
                <hr />
            } 
        </ul>
    </div>
  </div>
</div>
<div class="container mx-auto py-6 px-2">
    <router-outlet />
</div>




