<header class="w-full">
    <nav class="flex flex-wrap justify-between items-center py-0 border-gray-200 dark:bg-gray-900 container mx-auto p-5">
        <a routerLink="/" class="flex items-center logo my-5">
            <img src="../../../../../assets/banner-logo.png" class="mr-2 h-14" alt="Flowbite Logo" />
            <div class="flex flex-col">
                <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">GuiaCalidad</span>
                <small class="text-white font-semibold self-end">Publicidad Responsable</small>
            </div>
        </a>
        <div class="relative" style="width: 500px;">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input type="search" (keydown.enter)="handleSearch()" [formControl]="searchCtrl" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-white focus:ring-blue-500 focus:border-blue-500 outline-none" placeholder="Búsqueda..." required>
            <button type="submit" (click)="handleSearch()" class="bg-guia text-white absolute end-2.5 bottom-2 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-md text-sm px-4 py-2">Buscar</button>
        </div>
    </nav>
</header>

<div class="container mx-auto links-container">
    <a>
        :: Quienes Somos
    </a>
    <a>
        :: Atencion al Cliente
    </a>
    <a>
        :: Servicios Web
    </a>
    <a>
        :: Recomendados
    </a>
    <a>
        :: Suscripciones
    </a>
</div>
<div class="container mx-auto py-6 px-2">
    <router-outlet />
</div>




