header{
    background-color: var(--primary-color);
}

nav .active{
    font-weight: bolder;
    text-decoration: underline;
}

nav a.logo span{
    color: white;
    font-weight: 800;
    font-size: 30px;
}

.links-container{
    display: flex;
}

.links-container a{
    text-align: center;
    flex-grow: 1;
    padding: 10px 15px;
    border-left: 2px solid rgb(226 232 240);
    cursor: pointer;
    color: var(--primary-color);
    font-weight: 500;
}

.links-container a:hover{
    background-color: rgb(226 232 240);
}

.links-container a:first-child{
    border-left: none;
}


@media (prefers-color-scheme: light) {
    nav .active{
        color: white !important;
    }
    
  }