<div id="default-carousel" class="relative w-full" data-carousel="slide">
    <div class="relative overflow-hidden rounded-lg h-full">
        <div class="hidden duration-700 ease-in-out bg-1 h-full" data-carousel-item="active">
            
        </div>
        <div class="hidden duration-700 ease-in-out bg-2" data-carousel-item>
            
        </div>
        <div class="hidden duration-700 ease-in-out bg-3" data-carousel-item>
            
        </div>
        <div class="hidden duration-700 ease-in-out bg-4" data-carousel-item>
            
        </div>
        <div class="hidden duration-700 ease-in-out bg-5" data-carousel-item>
            
        </div>
        <div class="hidden duration-700 ease-in-out bg-6" data-carousel-item>
            
        </div>
    </div>
</div>