<h1 [routerLink]="['/rubro', rubro()?.ID]" class="text-guia text-3xl mb-2 hover:underline cursor-pointer">
    @if (rubro() != undefined) {
        > {{ rubro()!.NAME }}
    }   
</h1>
<h2 class="text-2xl pl-5 text-guia">
    @if (subrubro() != undefined) {
        :: {{ subrubro().NAME }}
    }
</h2>
<hr class="my-4">

<p class="text-slate-400 mb-4">Listado de Anunciantes:</p>
<div class="w-full flex justify-center">
    @for (anunciante of anunciantes(); track $index) {
        @if (anunciante != undefined) {
            <div class="lg:w-1/2">
                <anunciante-component
                [anunciante]="anunciante"
                />
            </div>
        }
    }
</div>

<app-reclamos />