<div class="relative overflow-x-auto shadow-md sm:rounded-lg w-full">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-white text-gray-700 uppercase bg-guia">
            <tr>
                <th class="p-5 w-1/2">
                    Rubro
                </th>
                <th class="p-5 w-1/2">
                    Subrubro
                </th>
            </tr>
        </thead>
        <tbody >
            <tr class="bg-white border-b cursor-pointer text-gray-800">
                @if (rubro() != undefined) {
                    <td class="p-5 w-1/2 border-r-4 hover:bg-gray-100" [routerLink]="['/rubro', rubro()!.ID,]">
                        {{ rubro()!.NAME }}
                    </td>
                }
                <td class="p-5 w-1/2 hover:bg-gray-100">
                    @if (subrubro() != undefined) {
                        {{ subrubro().NAME }}
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>

@for (anunciante of anunciantes(); track $index) {
    @if (anunciante != undefined) {
        <div class="lg:w-1/2">
            <anunciante-component
            [anunciante]="anunciante"
            />
        </div>
    }
}