a:hover{
    text-decoration: underline;
}

img.anunciante-img{
    min-width: 100px;
    max-width: 100px;
}


.anunciante-container .icons-container{
    display: flex;
    align-items: center;
    color: var(--primary-color);
    justify-content: start;
    margin-top: 5px;
}

.icons-container i::before{
    font-size: 22px;
    margin: 0 15px 0 0;
}

.icons-container i.bi-window-fullscreen{
    font-style: normal;
    margin-right: 14px;
}

.icons-container i.bi-window-fullscreen::before{
    margin-right: 4px;
}

.icons-container i.bi-geo-alt::before{
    margin-right: 10px;
}
