<div class="relative overflow-x-auto shadow-md sm:rounded-lg w-full">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-white text-gray-700 uppercase bg-guia">
            <tr>
                <th class="p-5 w-1/2">
                    Rubro
                </th>
                <th class="p-5 w-1/2">
                    Subrubro
                </th>
            </tr>
        </thead>
        <tbody >
            @for (subrubro of subrubros; track $index) {
                <tr [routerLink]="['/subrubro', subrubro.ID,]" class="bg-white border-b hover:bg-gray-50 cursor-pointer text-gray-800">
                    <td class="p-5 w-1/2">
                        {{ rubroService.getRubroNameById(subrubro.RUBRO_ID) }}
                    </td>
                    <td class="p-5 w-1/2">
                        {{ subrubro.NAME }}
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>